build/
managed_components/
owl/
site/
__pycache__/
sdkconfig
sdkconfig.defaults.secret
*.swp
*.bin
owl_executable
config.txt
*.lock
.venv
.cache/
managed_components/
dependencies.lock
sdkconfig.defaults.secret
